*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  text-align: center;
}
#root,
#__next {
  isolation: isolate;
}
form {
  border: 0.1rem solid black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
form input,
form select {
  height: 2rem;
  width: 20rem;
  margin-bottom: 1rem;
}

form input:user-invalid {
  border: 0.1rem solid red;
  background-color: beige;
}

span {
  color: red;
}
